.profile__info {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: baseline;
  align-content: center;
}

@media screen and (max-width: 767px) {
  .profile__info {
    row-gap: 14px;
    justify-content: center;
  }
}
