.popup__caption {
  color: #fff;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 10px 0 0;
  padding: 0;
  position: absolute;
  bottom: -25px;
}
