.login__input {
  color: #ccc;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #ccc;
  border-left: none;
  padding: 5px 0 13px;
  margin: 0;
  min-width: 350px;
  background-color: #000;
}

@media screen and (max-width: 767px) {
    .login__input {
        min-width: 268px;
    }
  }