.card__trash {
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-image: url(../../../images/Trash.svg);
  border: none;
  background-color: transparent;
  filter: drop-shadow(2px 4px 6px black);
  cursor: pointer;
}
