.popup__error {
  color: #f00;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  position: absolute;
  top: 40px;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
