.register__about {
color: #FFF;
text-align: center;
font-family: "Inter", "Arial", sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 15px auto 0;
width: fit-content;
display: flex;
column-gap: 5px;
}

@media screen and (max-width: 767px) {
    .register__about {
        margin-top: 20px;
    }
  }